<!--footer-->
<footer class="footer text-center py-4">
    <div class="container">
      <div class="row">
        <div class="col-md-4 col-12">
          <h5>Contact Us</h5>
          <p style="margin-bottom: 0px">Email: contact@example.com</p>
          <p>Phone: +1 (123) 456-7890</p>
        </div>
        <div class="col-md-4 col-6">
          <h5>Follow Us</h5>
          <div class="row">
            <div class="col-6">
              <i class="bi bi-facebook"></i><i class="bi bi-twitter"></i
              ><i class="bi bi-instagram"></i>
            </div>
            <div class="col-6">
              <ul class="list-unstyled">
                <li class="social">
                  <a style="text-decoration: none; color: #9d9696" href="#"
                    >Facebook</a
                  >
                </li>
                <li class="social">
                  <a style="text-decoration: none; color: #9d9696" href="#"
                    >Twitter</a
                  >
                </li>
                <li class="social">
                  <a style="text-decoration: none; color: #9d9696" href="#"
                    >Instagram</a
                  >
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-md-4 col-6">
          <h5>Privacy Policy</h5>
          <p style="margin-bottom: 0px">
            <a style="text-decoration: none; color: #9d9696" href="#"
              >Terms of Use</a
            >
          </p>
          <p>
            <a style="text-decoration: none; color: #9d9696" href="#"
              >Privacy Policy</a
            >
          </p>
        </div>
      </div>
    </div>
  </footer>
</body>
<script
  src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
  integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
  crossorigin="anonymous"
></script>
<script
  src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"
  integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+"
  crossorigin="anonymous"
></script>
<script src="/static/js/script.js" ></script>
</html>